/*body
{
	background-color:*/ /* #EBEBEB */ /*#FFF;
}

#banniere
{
	width: 100%;
}

footer
{
	text-align: center;
}

footer a
{
	font: 100%/1.4 Verdana, Geneva, Tahoma, sans-serif;
	color: #575252;
}

#slogan
{
	color: #676767;
	text-align: center;
}

#citationAccueil
{
	color: #E20016;
	text-align: center;
}*/
