/*body
{
	background-color:*/ /* #EBEBEB */ /*#FFF;
}*/

body
{
	margin : auto;
	padding: 10px;
}

#banniere
{
	width: 100%;
}

footer
{
	text-align: center;
}

footer a
{
	font: 100%/1.4 Verdana, Geneva, Tahoma, sans-serif;
	color: #575252;
}

#slogan
{
	color: #676767;
	text-align: center;
}

#citationAccueil
{
	color: #E20016;
	text-align: center;
}


a
{
	color: white;
	text-decoration: none;
}

li
{
	list-style-type: none;
}

.conteneur_menu
{
	height:auto;
	width:100%;
	padding: 0;
	margin: 0;
}

.rubrique
{
	width:100%;
}

.sousmenu
{
	display:none;
	padding-left: 0px;
}


.pagesousmenu
{
	background-color:grey;
	height: 50px;
	vertical-align: middle;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
} 



.pagemenu
{
	background-color:blue;
	width:100%;
	color:white;
	height: 50px;
	-webkit-transition-property:background-color;
	-moz-transition-property:background-color;
	-ms-transition-property:background-color;
	-o-transition-property:background-color;
	transition-property:background-color;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-ms-transition-duration:1s;
	-o-transition-duration:1s;
	
}

.rubrique
{
	background-color:red;
	width:100%;
	color:white;
	text-decoration:none;
	-webkit-transition-property:background-color;
	-moz-transition-property:background-color;
	-ms-transition-property:background-color;
	-o-transition-property:background-color;
	transition-property:background-color;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-ms-transition-duration:1s;
	-o-transition-duration:1s;
	transition-duration:1s;
	
}
