body
{
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	margin : auto;
	padding: 10px;
}

header
{
	text-align: center;
}

#banniere-2
{
	display: none;
}

footer
{
	text-align: center;
	font-size: 12px;
	margin-top: 30px;
}

footer a
{
	color: #575252;
}

#slogan
{
	color: #676767;
	text-align: center;
}

#citationAccueil
{
	color: #E20016;
	text-align: center;
}

a
{
	color: white;
	text-decoration: none;
}

li
{
	list-style-type: none;
}

.conteneur_menu
{
	height:auto;
	width:100%;
	padding: 0;
	margin: 0;
}

.sousmenu
{
	display:none;
	padding-left: 0;
}


.pagesousmenu
{
	/*background-color:grey;*/
	border-bottom: dashed 2px white;
	margin: 0;
	vertical-align: middle;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
} 

#menu_pers_handi
{
	background-color: rgb(228, 49, 119);
}

#menu_employeurs
{
	background-color: rgb(174, 3, 129);
}


.pagemenu
{
	/*background-color:blue;*/
	background-image: -webkit-linear-gradient(top, #dbdbdb -20%, #2c4d58 100%);
	background-image:    -moz-linear-gradient(top, #dbdbdb -20%, #2c4d58 100%);
	background-image:     -ms-linear-gradient(top, #dbdbdb -20%, #2c4d58 100%);
	background-image:      -o-linear-gradient(top, #dbdbdb -20%, #2c4d58 100%);
	background-image:         linear-gradient(top, #dbdbdb -20%, #2c4d58 100%);
	color:white;
	-webkit-transition-property:background-color;
	-moz-transition-property:background-color;
	-ms-transition-property:background-color;
	-o-transition-property:background-color;
	transition-property:background-color;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-ms-transition-duration:1s;
	-o-transition-duration:1s;
}

.pagemenu:last-child
{
	background-image: -webkit-linear-gradient(top, #dbdbdb -20%, #70932c 100%);
	background-image:    -moz-linear-gradient(top, #dbdbdb -20%, #70932c 100%);
	background-image:     -ms-linear-gradient(top, #dbdbdb -20%, #70932c 100%);
	background-image:      -o-linear-gradient(top, #dbdbdb -20%, #70932c 100%);
	background-image:         linear-gradient(top, #dbdbdb -20%, #70932c 100%);
	/*-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;*/
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.pagemenu a
{
	width: 100%;
	display: block;
	padding: 12px;
}

.rubrique
{
	/*background-color:red;*/
	background-image: -webkit-linear-gradient(top, #dbdbdb -20%, rgb(174, 3, 129) 100%);
	background-image:    -moz-linear-gradient(top, #dbdbdb -20%, rgb(174, 3, 129) 100%);
	background-image:     -ms-linear-gradient(top, #dbdbdb -20%, rgb(174, 3, 129) 100%);
	background-image:      -o-linear-gradient(top, #dbdbdb -20%, rgb(174, 3, 129) 100%);
	background-image:         linear-gradient(top, #dbdbdb -20%, rgb(174, 3, 129) 100%);

	color:white;
	text-decoration:none;
	-webkit-transition-property:background-color;
	-moz-transition-property:background-color;
	-ms-transition-property:background-color;
	-o-transition-property:background-color;
	transition-property:background-color;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-ms-transition-duration:1s;
	-o-transition-duration:1s;
	transition-duration:1s;
}

.rubrique:first-child
{
	/*-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-image: -webkit-linear-gradient(top, #dbdbdb -20%, rgb(228, 49, 119) 100%);
	background-image:    -moz-linear-gradient(top, #dbdbdb -20%, rgb(228, 49, 119) 100%);
	background-image:     -ms-linear-gradient(top, #dbdbdb -20%, rgb(228, 49, 119) 100%);
	background-image:      -o-linear-gradient(top, #dbdbdb -20%, rgb(228, 49, 119) 100%);
	background-image:         linear-gradient(top, #dbdbdb -20%, rgb(228, 49, 119) 100%);

	
}

.rubrique a
{
	padding: 12px;
	display: block;
}

h1.titreAccueil
{
	padding: 10px;
	margin-bottom: 0;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 24px;
}

ul.listeAccueil
{
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 20px;
}

ul li.elemAccueil
{
	list-style-type: none;
	border-bottom: solid white 1px;
	/*background-color: rgb(130, 130, 130);*/
	background-image: -webkit-linear-gradient(top, rgb(150, 150, 150) 0%, rgb(100, 100, 100) 100%);
	background-image:    -moz-linear-gradient(top, rgb(150, 150, 150) 0%, rgb(100, 100, 100) 100%);
	background-image:     -ms-linear-gradient(top, rgb(150, 150, 150) 0%, rgb(100, 100, 100) 100%);
	background-image:      -o-linear-gradient(top, rgb(150, 150, 150) 0%, rgb(100, 100, 100) 100%);
	background-image:         linear-gradient(top, rgb(150, 150, 150) 0%, rgb(100, 100, 100) 100%);
}

ul li.elemAccueil:last-child
{
	/*-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;*/
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: none;
}

ul li.elemAccueil a
{
	display: block;
	color: white;
	text-decoration: none;
	padding: 12px;
}

#accueilPersonnesHandicapees
{
	background-image: -webkit-linear-gradient(top, rgb(248, 69, 139) 0%, black 250%);
	background-image:    -moz-linear-gradient(top, rgb(248, 69, 139) 0%, black 250%);
	background-image:     -ms-linear-gradient(top, rgb(248, 69, 139) 0%, black 250%);
	background-image:      -o-linear-gradient(top, rgb(248, 69, 139) 0%, black 250%);
	background-image:         linear-gradient(top, rgb(248, 69, 139) 0%, black 250%);
	/*background-color: rgb(228, 49, 119);*/
	color: white;
}

#accueilEmployeurs
{
	background-image: -webkit-linear-gradient(top, rgb(194, 23, 149) 0%, black 250%);
	background-image:    -moz-linear-gradient(top, rgb(194, 23, 149) 0%, black 250%);
	background-image:     -ms-linear-gradient(top, rgb(194, 23, 149) 0%, black 250%);
	background-image:      -o-linear-gradient(top, rgb(194, 23, 149) 0%, black 250%);
	background-image:         linear-gradient(top, rgb(194, 23, 149) 0%, black 250%);
	/*background-color: rgb(174, 3, 129);*/
	color: white;
}

article
{
	margin-top: 30px;
}
